@model IEnumerable<PeninsulaPhysiotherapy.Models.AppointmentVM>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center display-4">Booking Management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Phone
            </th>
            <th>
                Date
            </th>
            <th>
                Therapist
            </th>
            <th>
                Job Type
            </th>
            @if ((await AuthorizationService.AuthorizeAsync(User, "SeeFullJobs")).Succeeded){
                <th>
                    Job Status
                </th>
                <th>
                    Created By
                </th>
            }
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if ((await AuthorizationService.AuthorizeAsync(User, "SeeFullJobs")).Succeeded) {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Therapist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="Approve" asp-route-id="@item.Id">Approve</a> |
                        <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>
                    </td>
                </tr>
            }
        }
        else if ((await AuthorizationService.AuthorizeAsync(User, "Therapists")).Succeeded) {
            @foreach (var item in Model.Where(m => m.Therapist.Equals(ViewBag.Therapists)))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Therapist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobType)
                    </td>

                    <td>
                        
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        @if (item.JobStatus != "Finished")
                        {
                            <a class="btn btn-primary" asp-action="Finish" asp-route-id="@item.Id">Finish</a>
                        }
                        
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model.Where(m => m.CreatedBy.Equals(ViewBag.CreateBy)))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Therapist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobType)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
