@model Job
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TherapistName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
    </dl>
</div>
@if ((await AuthorizationService.AuthorizeAsync(User, "booking")).Succeeded){
    <form asp-action="Approve" asp-route-id="@Model?.JobID">
        <input type="submit" value="Approve" class="btn btn-success" />
    </form>


    <form asp-action="Reject" asp-route-id="@Model?.JobID">
        <input type="submit" value="Reject" class="btn btn-danger" />
    </form>
}


<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    
</div>
