@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager

@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roles = roleManager.Roles;
    var users = userManager.Users;
}
<h1 class="text-center display-4">User Management</h1>
<a class="btn btn-primary mb-3" style="width:auto" href="/Identity/Account/Register">
    Create User
</a>
<br />

<form method="get" class="col-sm-6">
    <div class="input-group">
        <input class="form-control" type="text" name="id"/>
        <div class="input-group-append">
            <input class="btn btn-secondary" type="submit" value="Search" />
        </div>
    </div>
    @if (!String.IsNullOrEmpty(ViewBag.Search)){
        <br />
        <input type="submit" class="btn btn-danger" value="Clear @ViewBag.Search">
    }
</form>

<hr />
<br />
@if(Model.Any()){
    <table class="table">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    User Role
                </th>
                <th>
                    Email Confirmed
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach(var user in Model){
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                        @{
                            ViewBag.RoleList = "";
                            foreach (string role in ViewBag.UserRole[user.UserName])
                            {
                                ViewBag.RoleList = ViewBag.RoleList + role + ", ";
                                ViewBag.RoleList = ViewBag.RoleList.Remove(ViewBag.RoleList.Length - 2);
                            }
                            if (ViewBag.RoleList == "")
                            {
                                ViewBag.RoleList = "Guest";
                            }
                        }
                @ViewBag.RoleList
            </td>
            <td>
                @user.EmailConfirmed
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm" asp-controller="Users" asp-action="EditUser" asp-route-id="@user.Id">Edit</a> |
                <a class="btn btn-outline-danger btn-sm" asp-action="" asp-route-id="@user.Id">Delete</a>
            </td>
            
        </tr>
        }
    </tbody>
    </table>
    
    
        
       
    }else{
        <div class="card">
            No User Matched
        </div>
    }
